{% extends "chat/layout_base.html" %}

{% block title %}
{% endblock %}

{% block header %}
<div>
<h1>OniChat (logged by {{auth_user}})</h1>
{% if auth_user.is_authenticated %}
	<a href="{% url 'logout' %}"> [sign out] </a>
{% else %}
	<a href="{% url 'login' %}"> [sign in] </a>
	<a href="{% url 'accounts:signup' %}"> [sign up] </a>
{% endif %}
</div>
{% endblock %}

<style>
ul {
  list-style-type: circle;
  background: #3399ff;
  padding: 20px;
}
</style>

{% block nav %}	
    <ul>
      <li><a href="{% url 'chat:join' %}" onClick="window.location.reload()">Join</a> </li> 
      <li><a href="{% url 'chat:open' %}" onClick="window.location.reload()">Open</a> </li>
    </ul>
{% endblock %}

{% block footer %}
<a href="http://www.papricacare.com">Please, visit Onion's home-page.</a>
{% endblock %}