{% extends "chat/layout.html" %}
{% block aside %}
{% endblock %}
{% block article %}
	<p> Fill the fields below, then press the "create and talk" button </p>	
	<form action="{% url 'chat:open' %}" method="post">
		{% csrf_token %}
		<hr>
		<ul>
			<li>Chatting Theme:<br> 
			<input type="text" name="theme" value="" required/> </li>
			<li>Your Nickname:<br> 
			<input type="text" name="nickname" value="" required/> </li>
		</ul>
		<hr>		
		<input type="submit" value="open and talk" />
	</form>
{% endblock %}