<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h2> Hi {{ user.username }}!</h2>
  <a href="{% url 'logout' %}">logout</a>
{% else %}
<style>
a {
	font-size: 24px;
}
</style>

  <h1>Welcome to OniChat</h1>
  <a href="{% url 'login' %}">login</a>,
  <a href="{% url 'accounts:signup' %}"> signup </a>
{% endif %}
  or,<br>
  <a href="{% url 'chat:index' %}"> go without authentication</a>
{% endblock %}